<a href="https://colab.research.google.com/github/dskimds/KOSA-Big-Data_Vision/blob/main/Model/09_23_RF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('credit_cards_dataset.csv')

In [6]:
df.head(3)

   ID  LIMIT_BAL  SEX  ...  PAY_AMT5  PAY_AMT6  default.payment.next.month
0   1    20000.0  2.0  ...       0.0       0.0                         1.0
1   2   120000.0  2.0  ...       0.0    2000.0                         1.0
2   3    90000.0  2.0  ...    1000.0    5000.0                         0.0

[3 rows x 25 columns]

In [7]:
#df.corr(method='spearman')

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [9]:
df.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default.payment.next.month'],
      dtype='object')

In [10]:
X = df.drop(['ID', 'default.payment.next.month'], axis=1).values

In [11]:
X.shape

(40933, 23)

In [12]:
Y = df['default.payment.next.month'].values

In [13]:
Y.shape

(40933,)

In [14]:
from sklearn.decomposition import PCA

In [22]:
df_Pay_Score = df[['PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6']]
df_Bill_Amount = df[['BILL_AMT1', 'BILL_AMT2','BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6']]
df_Pay_Amount = df[['PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6']]

In [23]:
trans = PCA(n_components=1)

In [24]:
X_Pay_Score = df_Pay_Score.values
X_Bill_Amount = df_Bill_Amount.values
X_Pay_Amount = df_Pay_Amount.values

In [25]:
# transform the data
X_dim = trans.fit_transform(X_Pay_Score)

ValueError: ignored

In [14]:
df_X_dim_Pay_Score = pd.DataFrame(X_dim, columns=['Pay_AVR'])

In [ ]:
df_X_dim_Pay_Amount = pd.DataFrame(X_dim, columns=['P_AMT_AVR'])

In [ ]:
df = pd.concat

In [ ]:
df.columns

In [ ]:
X = df.drop(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default.payment.next.month' ])

In [14]:
Y = df['default.payment.next.month'].values

In [15]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=42)

In [16]:
model = RandomForestClassifier(n_estimators=200, criterion=)

In [17]:
model.fit(X_train, Y_train)

ValueError: ignored

In [ ]:
y_predict = model.predict(X_test)

In [ ]:
from sklearn.metrics import recall_score

In [ ]:
print("Recall score:"+ str(recall_score(Y_test, y_predict)))

In [ ]:
X_train.shape[1]

In [ ]:
import sklearn.metrics as metrics

In [ ]:
print('accuracy', metrics.accuracy_score(Y_test,y_predict) )
print('precision', metrics.precision_score(Y_test,y_predict) )
print('recall', metrics.recall_score(Y_test,y_predict) )
print('f1', metrics.f1_score(Y_test,y_predict) )
print(metrics.classification_report(Y_test,y_predict))
print(metrics.confusion_matrix(Y_test,y_predict))